https://github.com/Mahesh0253/pyrogram/archive/inline.zip
TgCrypto
motor
aiofiles
dnspython
psutil
sqlalchemy
tmdbv3api
telethon
telegraph[aio]
markdown
Flask
gunicorn
aiohttp
pymongo[srv]
bs4
heroku3
validators
python-dotenv
click
itsdangerous
Jinja2
MarkupSafe
Werkzeug
